@use "../../_variables" as variables;

.skills-panel {
  gap: 10px;
  padding: 10px 0px 10px 0px;
  background-color: rgba(37, 36, 39, 0.5);
  backdrop-filter: blur(5px);
  opacity: 0.8;
  border: 1px rgba(255, 255, 255, 0.103) solid;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.tablet-container {
  display: grid;
  margin: 0px 10px 0px 10px;
  // max-height: 80px;
  grid-template-rows: repeat(8, 9px);
  grid-template-columns: repeat(20, 1fr);
  background-color: rgba(variables.$secondary_background_colour, 0.1);
  border: 1px rgba(255, 255, 255, 0.103) solid;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  text-align: left;
}

.tablet-container:hover {
  background-color: rgba(variables.$secondary_background_colour, 0.6);
}

.skill-icon {
  height: 50px;
  width: auto;
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}

.skill-title {
  grid-column: 5 / 15;
  grid-row: 3 / 4;
  color: variables.$base_font_colour;
  font-size: 16px;
}

.skill-category {
  grid-column: 5 / 13;
  grid-row: 4 / 5;
  color: variables.$secondary_font_colour;
}

.see-more-button {
  grid-column: 16 / 20;
  grid-row: 4 / 6;
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: variables.$base_font_colour;
}
