@font-face {
  font-family: "Kanetin";
  src: url("../../../public/fonts/Kanetin.otf");
}

@font-face {
  font-family: "Inter-Light";
  src: url("../../../public/fonts/Inter-Light.ttf");
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../../../public/fonts/Inter-Medium.ttf");
}

$base_background_colour: #18181b;

$base_font: Inter-Light, sans-serif;

$base_font_colour: #ffffff;

$secondary_font_colour: #ffffff9f;

$secondary_background_colour: #c0c0c0;
