@use "variables";

.home-grid {
  display: grid;
  position: relative;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  margin: 50px 20px 10px 20px;
}

.home-title {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: variables.$base_font;
  font-size: 64px;
  font-weight: 400;
  color: variables.$base_font_colour;
}

.home-subtitle {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  color: variables.$base_font_colour;
  font-weight: 500;
}

.skills-panel {
  grid-column: 3 / 4;
  grid-row: 3 / 7;
  gap: 10px;
  padding: 10px 0px 10px 0px;
  background-color: #252427;
  border: 1px rgba(255, 255, 255, 0.103) solid;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.testimonial-panel {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
  background-color: #252427;
  border: 1px rgba(255, 255, 255, 0.103) solid;
  border-radius: 20px;
}

.current-work {
  grid-column: 4 / 5;
  grid-row: 4 / 7;
  background-color: #252427;
  border: 1px rgba(255, 255, 255, 0.103) solid;
  border-radius: 20px;
}

.current-title-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  // width: 100%;
  color: variables.$base_font_colour;
  border-bottom: 1px solid #ffffff44;
  .current-title {
    font-weight: 500;
    font-size: 30px;
  }
}

.current-text-section {
  display: flex;
  align-items: center;
  height: 33%;
  width: 80%;
  color: variables.$base_font_colour;
  margin: 0 auto;
}
.current-button-section {
  display: flex;
  align-items: center;
  height: 33%;
  width: 80%;
  color: variables.$base_font_colour;
  margin: 0 auto;
}

.current-work-button {
  padding: 15px 25px 15px 25px;
  border-radius: 30px;
  background-color: rgb(95, 16, 185);
  border: none;
  color: variables.$base_font_colour;
  // font-family: variabl.$base_font;
  font-size: 18px;
  font-weight: 500;
}
