@use "variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100%;
  padding: 10px 20px 0px 20px;
}

.night-main-logo {
  object-fit: contain;
  width: 5vh;
  height: auto;
}

.nav-links {
  width: 50%;
  justify-content: center;
  a {
    padding: 0px 25px;
    color: variables.$base_font_colour;
    font-weight: 100;
  }
}

.night-mode-moon {
  height: 40px;
  width: auto;
}
.night-mode-button {
  background-color: transparent;
  outline: none;
}
