@use "variables";

.tablet-container {
  display: grid;
  margin: 0px 10px 0px 10px;
  // max-height: 80px;
  grid-template-rows: repeat(8, 9px);
  grid-template-columns: repeat(20, 1fr);
  background-color: variables.$secondary_background_colour;
  border-radius: 20px;
}

.skill-icon {
  height: 50px;
  width: auto;
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}

.skill-title {
  grid-column: 5 / 15;
  grid-row: 3 / 4;
  color: variables.$base_font_colour;
}

.skill-category {
  grid-column: 5 / 13;
  grid-row: 4 / 5;
  color: variables.$secondary_font_colour;
}

.see-more-button {
  grid-column: 16 / 20;
  grid-row: 5 / 7;
  border: none;
  background-color: transparent;
  font-size: 30px;
  color: variables.$base_font_colour;
}
