@use "../../_variables" as variables;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100%;
  padding: 10px 20px 0px 20px;
}

.night-main-logo {
  object-fit: contain;
  width: 5vh;
  height: auto;
}

.nav-links {
  display: flex;
  width: 50%;
  justify-content: center;
  a {
    padding: 0px 40px;
    color: variables.$base_font_colour;
    font-weight: 100;
    font-size: 18px;
  }
}
.navbar-icons {
  display: flex;
  width: 15%;
  justify-content: space-between;
  padding-right: 20px;
  align-items: center;
}

.night-mode-button {
  background-color: transparent;
  border-radius: 30px;
  padding: 18px 30px 18px 30px;
  border: 1px #ffffff91 solid;

  .night-mode-moon {
    height: 20px;
    width: auto;
    color: white;
  }
}

.nav-button {
  padding: 18px 30px 18px 30px;
  border-radius: 60px;
  span {
    font-family: variables.$base_font;
    font-weight: 600;
    font-size: 18px;
    color: black;
    opacity: 1;
  }
  background-color: rgb(255, 255, 255);
}
// #7808d0
.contact-button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  background-color: #7808d0;
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.connect-button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: #000000;
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.connect-button:hover {
  background-color: #000;
}

.connect-button:hover .connect-button__icon-wrapper {
  color: #000;
}

.connect-button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.connect-button:hover .connect-button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.connect-button:hover .connect-button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}
