@use "variables";
body {
  // background-image: url("../app/assets/img/the-bg.png");
  // background-position: center;
  // background-size: cover;
  background-color: variables.$base_background_colour;
  font-family: variables.$base_font;
}

a {
  text-decoration: none;
}
